body, h1, ul {
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background: linear-gradient(180deg, rgb(26, 25, 28, 1) 100%, rgba(26, 25, 28, 0.8) 57.69%, rgba(26, 25, 28, 0.585) 78.84%, rgba(26, 25, 28, 0) 100%);
}

@media screen and (max-width: 480px) {
    .home-page__tabs{
        display: none;
    }
    .home-page__menu {
        padding: 30px;
        text-align: center;
    }
    .home_page__sectionone{
        margin: 10% 15% 0 15%;
        display: grid;
    }
    .home_page__sectionthree {
        margin: 0 5%;
    }
    .details{
        width: unset;
        margin: 0; 
    }
    .home_page__sectionfour{
        width: unset;
        display: flex;
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
    .superior, .competitive, .advanced, .start{
        width: 70%;
        height: max-content;
        border-radius: 10px;
        background: #0B0819;
        padding: 20px;
        margin: 20px 0;
    }
    .home-page__background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; /* Ensure it's behind the body content */
    }
    .fast{
        margin: 0;
        display: none;
      }
      .fast_mobile{
        width: 20%;
        float: right;
      }

    .line {
        border-bottom: 1px solid #FFFFFF;
    }
    .event{
        display: flex;
        flex-direction: column;
    }
    .button{
        background: #29A643;
        font-family: Bebas Neue Pro;
        font-size: 24px;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0px;
        text-align: center;
        color: #FFFFFF;
        margin: 20px 0;
        padding: 15px;
    }
    .image1,.image2,.image3,.image4,.image5{
        width: 164px;
        height: 164px;
        top: 2908px;
        left: 479px;
        transform: rotate(180deg);
        background: #DADADA;
    }
    .image3,.image4,.image5{
        display: none;
    }
    .first_line{
        display: none;
    }
    .line_space{
        display: none;
    }
    .home-page__sectionSeven{
        background: #FFFFFF;
        padding: 40px;
        display: flex;
        flex-direction: column;
    }
    .title_sectionSeven{
        font-family: Roboto;
        font-size: 80px;
        font-weight: 900;
        line-height: 90px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #444444;
    }
    
    .label_seven{
        font-family: Roboto;
        font-size: 17px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        color: #444444;
    }
    .details_section1 img, .details_section2 img, .details_section3 img, .details_section4 img{
        width: 20%;
    }
    .details_section1, .details_section2,.details_section3,.details_section4{
        text-align: center;
    }
    .details_info_title{
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;
        color: #444444;
        margin: 20px 0;
    }
    
    .details_info{
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        color: #444444;
    }
}

@media screen and (max-width: 992px)  and (min-width: 480px){
    .home-page__tabs{
        display: none;
    }
    .home-page__menu {
        padding: 30px;
        text-align: center;
    }
    .home_page__sectionone{
        margin: 10% 15% 0 15%;
        display: grid;
    }
    .home_page__sectionthree {
        margin: 0 5%;
    }
    .details{
        width: unset;
        margin: 0; 
    }
    .home_page__sectionfour{
        width: unset;
        display: flex;
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
    .superior, .competitive, .advanced, .start{
        width: 70%;
        height: max-content;
        border-radius: 10px;
        background: #0B0819;
        padding: 20px;
        margin: 20px 0;
    }
    .home-page__background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; /* Ensure it's behind the body content */
    }
    .fast{
        margin: 0;
        display: none;
      }
      .fast_mobile{
        width: 20%;
        float: right;
      }

      .line{
        border-right: 1px solid #FFFFFF;
    }
    .event{
        display: flex;
        width: 100%;
    }
    .button{
        background: #29A643;
        font-family: Bebas Neue Pro;
        font-size: 24px;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0px;
        text-align: center;
        color: #FFFFFF;
        margin: 20px 20%;
        padding: 15px;
    }
    .image1,.image2,.image3,.image4,.image5{
        width: 164px;
        height: 164px;
        top: 2908px;
        left: 479px;
        transform: rotate(180deg);
        background: #DADADA;
    }
    .image4,.image5{
        display: none;
    }
    .first_line{
        display: none;
    }
    .line_space{
        display: none;
    }
    .home-page__sectionSeven{
        background: #FFFFFF;
        padding: 40px;
        display: grid;
        flex-direction: column;
    }

    .title_sectionSeven{
        font-family: Roboto;
        font-size: 80px;
        font-weight: 900;
        line-height: 90px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #444444;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .details_section1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .details_section2{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .details_section3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .details_section4{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    
    .label_seven{
        font-family: Roboto;
        font-size: 17px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        color: #444444;
    }
    .details_section1 img, .details_section2 img, .details_section3 img, .details_section4 img{
        width: 10%;
    }
    .details_section1, .details_section2,.details_section3,.details_section4{
        text-align: center;
    }
    .details_info_title{
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;
        color: #444444;
        margin: 20px 0;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .details_info{
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        color: #444444;
    }
  }

@media screen and (min-width: 992px) {
    .home-page__background1{
        position: relative;
        width: 100%;
    }
    .home-page__tabs{
        display: flex;
        float: right;
    }
    .home-page__menu {
        padding: 30px;
    }
    .home_page__sectionone{
        margin: 10% 35% 0 35%;
        display: grid;
    }
    .details{
        width: 641px;
        margin: 10px 35%;
    }
    .home_page__sectionfour{
        width: 1016px;
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        margin: 30px 20% 50px 20%;
    }
    .superior{
        grid-row-start: 1;
        width: 320px;
        height: 570px;
        border-radius: 10px;
        background: #0B0819;
        padding: 50px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .competitive{
        width: 687px;
        height: 260px;
        border-radius: 10px;
        background: hsl(251, 52%, 6%);
        padding: 50px 20px;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    .advanced{
        width: 320px;
        height: 260px;
        border-radius: 10px;
        background: #0B0819;
        padding: 20px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    
    .start{
        width: 320px;
        height: 260px;
        border-radius: 10px;
        background: #0B0819;
        padding: 20px;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .fast{
            margin: 50% 0 0 0;
          }
      .fast_mobile{
        display: none;
        width: unset;
        float: unset;
      }
      .line{
        margin: 0px 60px;
        border-right: 1px solid #FFFFFF;
    }
    .event{
        display: flex;
        width: 100%;
    }
    .button{
        background: #29A643;
        font-family: Bebas Neue Pro;
        font-size: 24px;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0px;
        text-align: center;
        color: #FFFFFF;
        margin: 20px 20%;
        padding: 15px;
    }
    .home-page__background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; /* Ensure it's behind the body content */
    }
    .image1,.image2,.image3,.image4,.image5{
        width: 164px;
        height: 164px;
        top: 2908px;
        left: 479px;
        transform: rotate(180deg);
        background: #DADADA;
    }
    .first_line{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .line_space{
        border: 1px solid #444444;
        margin: 3% 0;
    }

    .home-page__sectionSeven{
        background: #FFFFFF;
        padding: 40px;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
    }

    .title_sectionSeven{
        font-family: Roboto;
        font-size: 80px;
        font-weight: 900;
        line-height: 90px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #444444;
        width: 12%;
    }
    
    .label_seven{
        font-family: Roboto;
        font-size: 17px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        color: #444444;
        width: 23%;
    }

    .details_section1{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .details_section2{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .details_section3{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .details_section4{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .details_section1 img, .details_section2 img, .details_section3 img, .details_section4 img{
        width: 10%;
    }
    .details_info_title{
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        color: #444444;
        margin: 20px 0;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .details_info{
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #444444;
    }
    
  }

.home-page__background2 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10%;
}

.home-page__background1 img, .home-page__background2 img{
    width: 20%;
}

.home-page__header {
    height: 113px;
    top: -1px;
    background: #000000;
}

.home-page__tab1, .home-page__tab2{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    padding: 20px;
}

.home_page__sectiontwo {
    margin: 13% 13% 5% 13%;
}
.tradeWith{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: center;
    color: #DDDDDD;
    padding: 10px 0;
}
.title{
    font-family: Roboto;
    font-size: 35px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 0;
}
.info{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 55px;
}
.new {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
}
.new em { 
    text-decoration:underline; 
    font-style: unset;
}
.terms {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
}
.terms em { 
    color: #D51820;
    font-style: unset;
}

.titleThree{
    font-family: Roboto;
    font-size: 35px;
    font-weight: 300;
    line-height: 43px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
}

.titleThree em { 
    font-weight: 700;
    font-style: unset;
}

hr.divider-green {
    border-top: 2px solid #29A643;
    width: 70px;
  }

.superior hr.divider-green, .competitive hr.divider-green, .advanced hr.divider-green, .start hr.divider-green{
    border-top: 2px solid #29A643;
    width: 70px;
    margin: 20px 0;
  }

  img.competitive__icon {
    width: 14%;
    float: right;
}

img.tech {
    width: 20%;
    float: right;
}
img.dollar-icon {
    width: 20%;
    float: right;
}

.details{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    left: 280px;
}

.titleFour{
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    width: 45%;
}

.detailsFour{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
  
}

.registerTitle{
    font-family: Roboto;
    font-size: 34px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.registerDetails{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.register__info{
    margin: 0 30%;
}

.top, .bottom{
    border: 1px solid #FFFFFF;
}

.fa.fa-calendar-check-o, .fa.fa-clock-o,.fa.fa-map-marker  {
    color: #FFFFFF;
    margin: 10px 50%;
}

.info__event {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
}

.home-page__sectionSix{
    padding: 30px;
    background: #F4F4F4;
    display: grid;
    align-items: center;
}

.sectionSix_title{
    font-family: Roboto;
    font-size: 30px;
    font-weight: 800;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: center;
    color: #252525;
}

.events_section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3% 0;
}

footer{
    background-color: #000000;
    padding: 40px;
}
.second_line{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first_line img{
    padding: 0 20px;
}

.left_corner {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #888888;

}

.red_line{
    border-bottom: 4px solid #D51820;
    width: 72.28px;
    padding: 10px;

}

.title_sectionSeven em{
    color:  #D51820;
}

